<?
/*
Plugin Name: bb Topic Icons
Plugin URI: http://devt.caffeinatedbliss.com/bbpress/topic-icons
Description: Adds configurable icons next to topics based on their status
Author: Paul Hawke
Author URI: http://paul.caffeinatedbliss.com/
Version: 0.6
*/

/****************************************************************************
 *
 * Configure the following constants to fine-tune the CSS classes that are
 * generated, the icon filenames that are used, and the text used in the
 * legend (if you have one displayed).  Note: filenames are likely to be
 * taken away in a future version and replaced with the concept of "icon sets"
 * whose filenames are fixed, so dont get used to editing the filenames,
 * as this will break in future versions.
 *
 ****************************************************************************/

// css class for the unsorted list used in the legend display
define( LEGEND_CLASS, 'topic_icon_legend' );

// busy threshold - a topic with more posts than this is counted as "busy"
// for purposes of picking an icon.
define( BUSY_THRESHOLD, 15 );

// width of the images, in pixels
define( ICON_WIDTH, '20' );

// height of the images, in pixels
define( ICON_HEIGHT, '20' );

// the URL base for where to find the default icon set.
define( ICON_SET_URL_BASE, BB_PLUGIN_URL.'bb-topic-icons/icon-sets/' );

/****************************************************************************
 *
 * Shouldnt be much need to edit anything beyond this point - configuration
 * is all done via the constants (above) and through and admin area page in
 * bbPress at runtime.
 *
 ****************************************************************************/

require( 'bb-topic-icons-api.php' );
require( 'bb-topic-icons-admin.php' );
require( 'interface.status-interpreter.php' );
require( 'interface.status-renderer.php' );
require( 'class.default-status-interpreter.php' );
require( 'class.default-status-renderer.php' );

function topic_icons_legend() {
	$icon_set_name = topic_icons_get_active_icon_set();
	$icon_set_url = ICON_SET_URL_BASE . $icon_set_name;
	$statuses = get_active_status_interpreter()->getAllStatuses();
	$renderer = get_active_status_renderer();
	
	echo '<ul id="'.LEGEND_CLASS.'">';
	for ($i=0; $i < count($statuses); $i++) {
		$image = $renderer->renderStatus($statuses[$i]);
		$tooltip = $renderer->renderStatusTooltip($statuses[$i]);
		$exists = file_exists(dirname(__FILE__).'/icon-sets/'.$icon_set_name.'/'.$image);

		if (isset($image) && strlen($image) > 0 &&
			isset($tooltip) && strlen($tooltip) > 0 && $exists) {
			echo '<li><img src="'.$icon_set_url.'/'.$image.
				'" width="'.ICON_WIDTH.'" height="'.ICON_HEIGHT.
				'" align="absmiddle">&nbsp;'.$tooltip.'</li>';
		}
	}
	echo '</ul>';
}

function topic_icons_css() {
	echo "\n<style type=\"text/css\"><!--\n";
	require( 'bb-topic-icons.css' );
	echo "\n--></style>";
}

function topic_icons_label( $label ) {
	global $topic;
	
	if (bb_is_front() || bb_is_forum() || bb_is_view() || bb_is_tag()) {		
		$icon_set_name = topic_icons_get_active_icon_set();
		$icon_set_url = ICON_SET_URL_BASE . $icon_set_name;

		$status = get_active_status_interpreter()->getStatus(bb_get_location(), $topic);
		$renderer = get_active_status_renderer();
		$image = $renderer->renderStatus($status);
		$tooltip = $renderer->renderStatusTooltip($status);
		$exists = file_exists(dirname(__FILE__).'/icon-sets/'.$icon_set_name.'/'.$image);

		if (!$exists) {
			return sprintf(__('<div class="topic-icon-image"><a href="%s"><img src="%s" width="%s" height="%s" alt="%s" border="0"></a></div> %s'), 
				get_topic_link($topic->topic_id), ICON_SET_URL_BASE.'/empty.png', ICON_WIDTH, ICON_HEIGHT, $tooltip, $label);
		} else if (strlen($tooltip) > 0) {		
			return sprintf(__('<div class="topic-icon-image"><a href="%s"><img src="%s" width="%s" height="%s" alt="%s" border="0"><span>%s</span></a></div> %s'), 
				get_topic_link($topic->topic_id), $icon_set_url.'/'.$image, ICON_WIDTH, ICON_HEIGHT, $tooltip, $tooltip, $label);
		} else {
			return sprintf(__('<div class="topic-icon-image"><a href="%s"><img src="%s" width="%s" height="%s" alt="%s" border="0"></a></div> %s'), 
				get_topic_link($topic->topic_id), $icon_set_url.'/'.$image, ICON_WIDTH, ICON_HEIGHT, $tooltip, $label);
		}
	}
	
	return $label;
}

function topic_icons_init( ) {
	remove_filter('bb_topic_labels', 'bb_closed_label', 10);
	remove_filter('bb_topic_labels', 'bb_sticky_label', 20);

	add_filter('bb_topic_labels', 'topic_icons_label', 11);

	add_action('bb_head', 'topic_icons_css');

	add_action('bb_admin_menu_generator', 'topic_icons_admin_page_add');
	add_action('bb_admin-header.php', 'topic_icons_admin_page_process');
	
	topic_icons_register_status_interpreter('default', new DefaultStatusInterpreter(BUSY_THRESHOLD));
	topic_icons_register_status_renderer('default', new DefaultStatusRenderer());
}

topic_icons_init();

?>
<?xml version="1.0" encoding="UTF-8"?>
<!-- generator="bbPress/1.0.2" -->
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>Digital Humanities Questions &#38; Answers &#187; View: Questions with no answers</title>
		<link>http://digitalhumanities.org/answers/view/no-replies</link>
		<description>Digital Humanities Questions &amp; Answers &#187; View: Questions with no answers</description>
		<language>en-US</language>
		<pubDate>Sun, 24 Mar 2019 17:08:31 +0000</pubDate>
		<generator>http://bbpress.org/?v=1.0.2</generator>
		<textInput>
			<title><![CDATA[Search]]></title>
			<description><![CDATA[Search all topics from these forums.]]></description>
			<name>q</name>
			<link>http://digitalhumanities.org/answers/search.php</link>
		</textInput>
		<atom:link href="http://digitalhumanities.org/answers/rss/view/no-replies" rel="self" type="application/rss+xml" />

		<item>
			 
				<title>Ramkumar on "What are some of the easily understood examples on small-world networks"</title>
						<link>http://digitalhumanities.org/answers/topic/what-are-some-of-the-easily-understood-examples-on-small-world-networks#post-2420</link>
			<pubDate>Sun, 17 Dec 2017 10:00:41 +0000</pubDate>
			<dc:creator>Ramkumar</dc:creator>
			<guid isPermaLink="false">2420@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;I am looking for more examples to explain the 'small world' network phenomenon.&#60;/p&#62;
&#60;p&#62;I am working on an article on the same. An example which I have taken up is - a modern well connected cluster of villages. &#60;/p&#62;
&#60;p&#62;Smart and digitally enabled cluster of villages with urban and social infrastructure are the way forward. In such clusters, every body is connected to everybody. Information passes through all them seamlessly. Everybody stays informed and there are numerous advantages from eliminating village feuds to sharing farm practices and social welfare schemes. Similarly, there could be others. Cheers, Ramkumar
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>mnaeimi on "Atlas.ti and Gephi"</title>
						<link>http://digitalhumanities.org/answers/topic/atlasti-and-gephi#post-2415</link>
			<pubDate>Fri, 07 Jul 2017 15:08:43 +0000</pubDate>
			<dc:creator>mnaeimi</dc:creator>
			<guid isPermaLink="false">2415@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Hello,&#60;/p&#62;
&#60;p&#62;Does anybody know how I can convert xml data of Atlas.ti to CSV files for Gephi? &#60;/p&#62;
&#60;p&#62;Thanks&#60;br /&#62;
M.N.
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>aelang on "Good 3D scanners to use alongside a 3D printer?"</title>
						<link>http://digitalhumanities.org/answers/topic/best-3d-scanner#post-2397</link>
			<pubDate>Thu, 16 Jun 2016 16:22:56 +0000</pubDate>
			<dc:creator>aelang</dc:creator>
			<guid isPermaLink="false">2397@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;I have the chance to get a 3D scanner alongside a 3D printer for a DH-lab-to-be, and although there's lots of useful posts here about 3D printers, there doesn't seem to be much about 3D scanners. If anyone has any recommendations or tips, I'd be glad to hear them. It's not going to be state-of-the-art stuff (yet), but there's a lot of scope for interesting work with colleagues at my institution working on digital cultural heritage so I'd like to get something that will at least provide the opportunity for people to pilot ideas or create a proof of concept.
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>elotroalex on "Transcription layer on top of fedora/blacklight stack"</title>
						<link>http://digitalhumanities.org/answers/topic/transcription-layer-on-top-of-fedorablacklight-stack#post-2326</link>
			<pubDate>Wed, 13 May 2015 19:36:15 +0000</pubDate>
			<dc:creator>elotroalex</dc:creator>
			<guid isPermaLink="false">2326@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;What if I wanted to build a transcription layer on top of columbia lib's digital collections? we have a fedora/blacklight stack. thinking of an API. anybody out there doing it?
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>alyson.musser on "DH Thesaurus - Participate in an Evaluation Survey"</title>
						<link>http://digitalhumanities.org/answers/topic/dh-thesaurus-participate-in-an-evaluation-survey#post-2322</link>
			<pubDate>Fri, 24 Apr 2015 18:09:09 +0000</pubDate>
			<dc:creator>alyson.musser</dc:creator>
			<guid isPermaLink="false">2322@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Hi all, I'm looking for researchers/enthusiasts of the digital humanities to participate in a survey evaluating a digital humanities thesaurus.  &#60;/p&#62;
&#60;p&#62;The survey is here: &#60;a href=&#34;http://goo.gl/forms/DyKllxSLMC&#34; rel=&#34;nofollow&#34;&#62;http://goo.gl/forms/DyKllxSLMC&#60;/a&#62;  and the thesaurus is here: &#60;a href=&#34;http://dhthesaurus.com/&#34; rel=&#34;nofollow&#34;&#62;http://dhthesaurus.com/&#60;/a&#62; &#60;/p&#62;
&#60;p&#62;The survey should only take about 15-20 minutes and I would greatly value your input and feedback. If you leave your email at the end of the survey, you'll be entered in a drawing to win a $5 Starbuck gift card. Thanks!
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>Hayim on "Experience with CollateX as restful service?"</title>
						<link>http://digitalhumanities.org/answers/topic/experience-with-collatex-as-restful-service#post-2321</link>
			<pubDate>Wed, 22 Apr 2015 17:58:47 +0000</pubDate>
			<dc:creator>Hayim</dc:creator>
			<guid isPermaLink="false">2321@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Does anyone have experience setting up the collation software CollateX (collatex.net) as a restful service? I am a total novice, with little support right now and would like to set it up as a restful service running in Apache Tomcat. (I am familiar with Eclipse and the basics of mounting a java application in Apache Tomcat,and I can work at the command line.) Could someone point out basic guidance or a setup or war that can be cloned?&#60;br /&#62;
Many thanks, HL
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>ebuhe on "Feedback on Digital Humanities Best Practices document"</title>
						<link>http://digitalhumanities.org/answers/topic/feedback-on-digital-humanities-best-practices-document#post-2306</link>
			<pubDate>Sun, 22 Mar 2015 00:51:16 +0000</pubDate>
			<dc:creator>ebuhe</dc:creator>
			<guid isPermaLink="false">2306@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;I'm working on a Digital Humanities Best Practices document that would serve as a list of questions humanities scholars could ask themselves as they get started on a collaborative project--something that is widely applicable, accessible, and quick and easy to read (meaning: not written in prose, not one person's reflections about their DH experience, not behind a paywall). The scope is specifically geared toward setting expectations and the issues to consider including in a charter / contract.&#60;/p&#62;
&#60;p&#62;It currently exists as an editable document on Google Drive -- and I'd love feedback!! What's missing, what's too broad/specific? Other great links to share? I'd especially like thoughts on integrating language re: open source, creative commons, code.&#60;/p&#62;
&#60;p&#62;Here's the link:&#60;br /&#62;
&#60;a href=&#34;http://www.nyu.edu/gsas/dept/fineart/research/digital-humanities-best-practices.htm&#34; rel=&#34;nofollow&#34;&#62;http://www.nyu.edu/gsas/dept/fineart/research/digital-humanities-best-practices.htm&#60;/a&#62;&#60;/p&#62;
&#60;p&#62;Thanks!
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>martinwunderlich on "Old English resources and tools"</title>
						<link>http://digitalhumanities.org/answers/topic/old-english-resources-and-tools#post-2261</link>
			<pubDate>Thu, 25 Dec 2014 13:10:24 +0000</pubDate>
			<dc:creator>martinwunderlich</dc:creator>
			<guid isPermaLink="false">2261@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Hi all, &#60;/p&#62;
&#60;p&#62;I am currently working on an NLP project using Old English (OE) as the target language. I was wondering, what digital resources and tools are currently available. &#60;/p&#62;
&#60;p&#62;In terms of corpora and lexicographic resources, I am working with the&#60;br /&#62;
- Old English Dictionary (OED) and the associated corpus and&#60;br /&#62;
- York-Toronto-Helsinki Parsed Corpus of Old English Prose (YCOE)&#60;/p&#62;
&#60;p&#62;In terms of tools, I haven't found much specifically geared towards OE other than the corpus reader that comes with NLTK.&#60;br /&#62;
Is there anything out there in terms of tools, e.g. POS taggers?&#60;br /&#62;
I am grateful for any hints. Thanks a lot. &#60;/p&#62;
&#60;p&#62;Kind regards, &#60;/p&#62;
&#60;p&#62;Martin
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>thomasgpadilla on "Where do you go for data?"</title>
						<link>http://digitalhumanities.org/answers/topic/where-do-you-go-for-data#post-2257</link>
			<pubDate>Thu, 13 Nov 2014 14:33:38 +0000</pubDate>
			<dc:creator>thomasgpadilla</dc:creator>
			<guid isPermaLink="false">2257@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Where do you go for data to support your DH work aside from LAMs (library, archive, museum) specific repositories?
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>jlassin on "Rhyme Detection"</title>
						<link>http://digitalhumanities.org/answers/topic/rhyme-detection#post-2246</link>
			<pubDate>Mon, 13 Oct 2014 03:57:12 +0000</pubDate>
			<dc:creator>jlassin</dc:creator>
			<guid isPermaLink="false">2246@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Has anyone come across any tools for analyzing poems and identifying rhyme? Thanks!
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>Jonathan.Armoza on "Is anyone aware of a benchmark-type comparison between available topic modelers?"</title>
						<link>http://digitalhumanities.org/answers/topic/is-anyone-aware-of-a-benchmark-type-comparison-between-available-topic-modelers#post-2233</link>
			<pubDate>Sun, 07 Sep 2014 01:26:02 +0000</pubDate>
			<dc:creator>Jonathan.Armoza</dc:creator>
			<guid isPermaLink="false">2233@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Though MALLET is the standard, I'm wondering if anyone has done testing on time to completion, based on document size, corpus size, varying hyper-parameters, topic count, etc.&#60;/p&#62;
&#60;p&#62;I'd expect that different implementations would yield different qualities of output, something else worthy of comparison.&#60;/p&#62;
&#60;p&#62;I'm also interested in runtime/output quality comparisons between basic LDA implementations and more complex topic modeling (e.g. Hierarchical LDA).&#60;/p&#62;
&#60;p&#62;Thus far I've been comparing the basic C LDA from Blei's page against MALLET.  With little surprise MALLET bests LDA C handily.
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>m.brown4 on "Anyone know any Interdisciplinary STEM/Humanities academic competitions in HE?"</title>
						<link>http://digitalhumanities.org/answers/topic/anyone-know-any-interdisciplinary-stemhumanities-academic-competitions-in-he#post-2106</link>
			<pubDate>Fri, 11 Oct 2013 11:45:40 +0000</pubDate>
			<dc:creator>m.brown4</dc:creator>
			<guid isPermaLink="false">2106@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;I am a mature, Natural Sciences undergraduate student, studying at the University of East Anglia, Norwich, England.&#60;/p&#62;
&#60;p&#62;I am writing an article entitled:&#60;br /&#62;
Academic Competitions in Higher Education – Opening a gateway for student initiative, creativity and interdisciplinarity.&#60;/p&#62;
&#60;p&#62;More specifically:&#60;br /&#62;
How academic competitions in HE (International, National or Localised) can allow UNDERGRADUATE students to:&#60;br /&#62;
 - Operate academic skills in a more creative and initiative-based way.&#60;br /&#62;
 - Facilitate the real application of learned material.&#60;br /&#62;
 - Facilitate the application of knowledge to real-world challenges outside of academia. (e.g Engineering competitions, such as the ones listed below).&#60;br /&#62;
 - Facilitate cooperation between academic disciplines.&#60;/p&#62;
&#60;p&#62;For the article I am trying to find as many varied examples as I can, ranging from purely STEM based competitions,( &#60;a href=&#34;http://innovation.wisc.edu/sustainability/&#34; rel=&#34;nofollow&#34;&#62;http://innovation.wisc.edu/sustainability/&#60;/a&#62; )&#60;br /&#62;
Interdisciplinary examples ( &#60;a href=&#34;http://igem.org/About&#34; rel=&#34;nofollow&#34;&#62;http://igem.org/About&#60;/a&#62; ) and Humanities examples ( &#60;a href=&#34;http://openhumanitiesawards.org/&#34; rel=&#34;nofollow&#34;&#62;http://openhumanitiesawards.org/&#60;/a&#62; ).&#60;/p&#62;
&#60;p&#62;I am also interested in any other forms of extra curricular activities which facilitate undergraduate student initiative, creativity and interdisciplinarity. &#60;/p&#62;
&#60;p&#62;Any help, or a point in the direction of someone who might be able to, would be much appreciated. &#60;/p&#62;
&#60;p&#62;All the best&#60;br /&#62;
Michael Brown&#60;br /&#62;
University of East Anglia&#60;br /&#62;
Student Initiative Society UEA &#60;a href=&#34;http://mbrown6.wix.com/sisuea&#34; rel=&#34;nofollow&#34;&#62;http://mbrown6.wix.com/sisuea&#60;/a&#62;
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>thatdrmaz on "Digital textual design: On the hunt for projects/tools/toolsets/good designs"</title>
						<link>http://digitalhumanities.org/answers/topic/digital-textual-design-on-the-hunt-for-projectstoolstoolsetsgood-designs#post-2052</link>
			<pubDate>Thu, 01 Aug 2013 11:38:18 +0000</pubDate>
			<dc:creator>thatdrmaz</dc:creator>
			<guid isPermaLink="false">2052@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Hello all,&#60;/p&#62;
&#60;p&#62;I'm on the hunt for projects/tools/toolsets/good designs that are involved with the digital replication of texts, creating a range of ways to search, interact with, browse and investigate any text. &#60;/p&#62;
&#60;p&#62;I am based at the university of durham, and what we hope this will enable us to identify are new forms of digital curating and scholarly ‘good practice’.  Our aim is to be able to outline the important underlying principles for anyone interested in discovering and editing versions of physical texts as a digital entity.&#60;/p&#62;
&#60;p&#62;Does anyone know of any technologies that we should incorporate into our research?... Or other similar projects / interesting people we should contact?... As part of a larger research we'd like to interview anyone involved with this kind of work - as a Curator, designer etc. &#60;/p&#62;
&#60;p&#62;Thanks terribly in advance.&#60;br /&#62;
Mariann
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>Michael Ullyot on "What are essential introductory theorizations of the Model?"</title>
						<link>http://digitalhumanities.org/answers/topic/what-are-essential-introductory-theorizations-of-the-model#post-2036</link>
			<pubDate>Thu, 20 Jun 2013 15:06:52 +0000</pubDate>
			<dc:creator>Michael Ullyot</dc:creator>
			<guid isPermaLink="false">2036@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;I'd like to ask both a research and a teaching question, about the most productive *and* accessible theorizations of the Model in artistic, scientific, and in-between disciplines like ours.&#60;/p&#62;
&#60;p&#62;I'm teaching a course (this fall) in my university's interdisciplinary arts-and-science undergraduate program on the very broad theme of 'representation.' I'm comparing the relationships between scientific theories, artistic representations, and quantitative/tractable models of research objects (in any field) that make them computationally addressable. &#60;/p&#62;
&#60;p&#62;The question is this: which essays or articles would best introduce these advanced undergraduates to the third category? &#60;/p&#62;
&#60;p&#62;Willard McCarty's essay, &#34;Modeling: a study in words and meanings&#34; from *A companion to digital humanities* (2004), is cited in Matt Burton's &#34;Joy of Topic Modeling&#34; blog post last month &#38;lt; &#60;a href=&#34;http://mcburton.net/blog/joy-of-tm/&#34; rel=&#34;nofollow&#34;&#62;http://mcburton.net/blog/joy-of-tm/&#60;/a&#62; &#38;gt;. This seems the natural place to start, but I wonder if readers have used other texts to induce intelligent non-specialists to join, or at least to grasp, our field.&#60;/p&#62;
&#60;p&#62;These are my other texts:&#60;br /&#62;
* David Bohm, *On Creativity*&#60;br /&#62;
* Virginia Woolf, *The Waves* (and Stephen Ramsay's work on the same)&#60;br /&#62;
* Richard Dawkins, *The Oxford Book of Modern Science Writing*&#60;/p&#62;
&#60;p&#62;With thanks,&#60;br /&#62;
Michael Ullyot
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>leondk on "DH projects on intellectual histories within universities"</title>
						<link>http://digitalhumanities.org/answers/topic/dh-projects-on-intellectual-histories-within-universities#post-2035</link>
			<pubDate>Tue, 18 Jun 2013 17:20:29 +0000</pubDate>
			<dc:creator>leondk</dc:creator>
			<guid isPermaLink="false">2035@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;I am looking for examples of DH projects in curating and/or critiquing histories of institutional knowledge at particular tertiary institutions. My own university is launching such a project and it is curious about examples in which a DH project has been designed around a critique of institutional history of knowledge. Can anyone help me to find such examples, should they exist?
&#60;/p&#62;</description>
		</item>

	</channel>
</rss>
