<?xml version="1.0" encoding="UTF-8"?>
<!-- generator="bbPress/1.0.2" -->
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>Digital Humanities Questions &#38; Answers &#187; View: Questions with no answers</title>
		<link>http://digitalhumanities.org/answers/view/no-replies</link>
		<description>Digital Humanities Questions &amp; Answers &#187; View: Questions with no answers</description>
		<language>en-US</language>
		<pubDate>Tue, 22 Sep 2015 22:44:47 +0000</pubDate>
		<generator>http://bbpress.org/?v=1.0.2</generator>
		<textInput>
			<title><![CDATA[Search]]></title>
			<description><![CDATA[Search all topics from these forums.]]></description>
			<name>q</name>
			<link>http://digitalhumanities.org/answers/search.php</link>
		</textInput>
		<atom:link href="http://digitalhumanities.org/answers/rss/view/no-replies" rel="self" type="application/rss+xml" />

		<item>
			 
				<title>inactinique on "Which Named Entity Recognition Tool?"</title>
						<link>http://digitalhumanities.org/answers/topic/which-named-entity-recognition-tool#post-2346</link>
			<pubDate>Mon, 13 Jul 2015 11:43:13 +0000</pubDate>
			<dc:creator>inactinique</dc:creator>
			<guid isPermaLink="false">2346@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Dear all,&#60;br /&#62;
I have a database with more than one million tweets (about WW1). What I'd like to do now is to recognize dates and traces of time.&#60;br /&#62;
Has anyone an idea of how to do this? (In French and English).&#60;br /&#62;
Best
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>katherineharris on "Open Peer Review now LIVE until 8/3! - Digital Pedagogy in the Humanities"</title>
						<link>http://digitalhumanities.org/answers/topic/open-peer-review-now-live-until-83-digital-pedagogy-in-the-humanities#post-2343</link>
			<pubDate>Mon, 06 Jul 2015 12:26:27 +0000</pubDate>
			<dc:creator>katherineharris</dc:creator>
			<guid isPermaLink="false">2343@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Digital Pedagogy in the Humanities: Concepts, Models, and Experiments, edited by Rebecca Frost Davis, Matthew K. Gold, Katherine D. Harris, and Jentery Sayers, is a dynamic open-access collection currently in development on MLA Commons. The editors invite your participation in the open peer review of this collection. Each entry in the collection focuses on a keyword in the field of digital pedagogy (ranging from “queer” to “interface” to “professionalization”) and is curated by an experienced practitioner, who briefly contextualizes a concept and then provides ten supporting artifacts, such as syllabi, prompts, exercises, lesson plans, and student work, drawn from courses, classrooms, and projects across the humanities. New keywords will be added in batches throughout 2015, with fifty keywords to be included in the final project.&#60;/p&#62;
&#60;p&#62;Please visit &#60;a href=&#34;https://digitalpedagogy.commons.mla.org&#34; rel=&#34;nofollow&#34;&#62;https://digitalpedagogy.commons.mla.org&#60;/a&#62; to read through and respond to the first set of keywords, now available for open review. The official review period for the first set of keywords will end on 3 August 2015. &#60;/p&#62;
&#60;p&#62;We encourage you to pass it along to other colleagues who may be interested. We would appreciate your assistance with this project and look forward to hearing from you. &#60;/p&#62;
&#60;p&#62;All best,&#60;br /&#62;
Kathy Harris (with Rebecca Frost Davis, Matthew Gold, and Jentery Sayers)
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>robbin_g on "How do I write a good research question for a Digital Humanities PhD proposal?"</title>
						<link>http://digitalhumanities.org/answers/topic/how-do-i-write-a-good-research-question-for-a-digital-humanities-phd-proposal#post-2335</link>
			<pubDate>Sun, 21 Jun 2015 13:20:28 +0000</pubDate>
			<dc:creator>robbin_g</dc:creator>
			<guid isPermaLink="false">2335@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Hello to all and I am very thankful to find this forum!&#60;/p&#62;
&#60;p&#62;I am wanting to attend a PhD program in Digital Humanities. (Eyes on King's College) I am struggling to write a proper research proposal to find an advisor there. &#60;/p&#62;
&#60;p&#62;I am a technologist (not a programmer!) interested in how DH can be used in Food Studies. When I proposed this as an introduction I was told, that's really just a project, not a research question. Turns out, as a technologist, I am great at coming up with digital projects that involve food studies but they all seem to lack a research 'hook' to get me any further. &#60;/p&#62;
&#60;p&#62;My current favorite idea, of a few scribbled down, is related to the study of wine (I am a certified sommelier):&#60;/p&#62;
&#60;p&#62;What can a digital humanities approach to wine reveal about the definition of terroir in the region of Barolo, Italy?&#60;/p&#62;
&#60;p&#62;Can anyone point me in a good direction? Thank you!
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>kahmad on "Motivation for choosing the VICE/VIRTUE categories in GI Dictionary"</title>
						<link>http://digitalhumanities.org/answers/topic/motivation-for-choosing-the-vicevirtue-categories-in-gi-dictionary#post-2332</link>
			<pubDate>Sun, 31 May 2015 12:07:57 +0000</pubDate>
			<dc:creator>kahmad</dc:creator>
			<guid isPermaLink="false">2332@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;General Inquirer dictionary, in later editions, included the VICE/VIRTUE categories.  What was the motivation for choosing these categories?
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>elotroalex on "Transcription layer on top of fedora/blacklight stack"</title>
						<link>http://digitalhumanities.org/answers/topic/transcription-layer-on-top-of-fedorablacklight-stack#post-2326</link>
			<pubDate>Wed, 13 May 2015 15:36:15 +0000</pubDate>
			<dc:creator>elotroalex</dc:creator>
			<guid isPermaLink="false">2326@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;What if I wanted to build a transcription layer on top of columbia lib's digital collections? we have a fedora/blacklight stack. thinking of an API. anybody out there doing it?
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>alyson.musser on "DH Thesaurus - Participate in an Evaluation Survey"</title>
						<link>http://digitalhumanities.org/answers/topic/dh-thesaurus-participate-in-an-evaluation-survey#post-2322</link>
			<pubDate>Fri, 24 Apr 2015 14:09:09 +0000</pubDate>
			<dc:creator>alyson.musser</dc:creator>
			<guid isPermaLink="false">2322@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Hi all, I'm looking for researchers/enthusiasts of the digital humanities to participate in a survey evaluating a digital humanities thesaurus.  &#60;/p&#62;
&#60;p&#62;The survey is here: &#60;a href=&#34;http://goo.gl/forms/DyKllxSLMC&#34; rel=&#34;nofollow&#34;&#62;http://goo.gl/forms/DyKllxSLMC&#60;/a&#62;  and the thesaurus is here: &#60;a href=&#34;http://dhthesaurus.com/&#34; rel=&#34;nofollow&#34;&#62;http://dhthesaurus.com/&#60;/a&#62; &#60;/p&#62;
&#60;p&#62;The survey should only take about 15-20 minutes and I would greatly value your input and feedback. If you leave your email at the end of the survey, you'll be entered in a drawing to win a $5 Starbuck gift card. Thanks!
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>Hayim on "Experience with CollateX as restful service?"</title>
						<link>http://digitalhumanities.org/answers/topic/experience-with-collatex-as-restful-service#post-2321</link>
			<pubDate>Wed, 22 Apr 2015 13:58:47 +0000</pubDate>
			<dc:creator>Hayim</dc:creator>
			<guid isPermaLink="false">2321@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Does anyone have experience setting up the collation software CollateX (collatex.net) as a restful service? I am a total novice, with little support right now and would like to set it up as a restful service running in Apache Tomcat. (I am familiar with Eclipse and the basics of mounting a java application in Apache Tomcat,and I can work at the command line.) Could someone point out basic guidance or a setup or war that can be cloned?&#60;br /&#62;
Many thanks, HL
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>ebuhe on "Feedback on Digital Humanities Best Practices document"</title>
						<link>http://digitalhumanities.org/answers/topic/feedback-on-digital-humanities-best-practices-document#post-2306</link>
			<pubDate>Sat, 21 Mar 2015 20:51:16 +0000</pubDate>
			<dc:creator>ebuhe</dc:creator>
			<guid isPermaLink="false">2306@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;I'm working on a Digital Humanities Best Practices document that would serve as a list of questions humanities scholars could ask themselves as they get started on a collaborative project--something that is widely applicable, accessible, and quick and easy to read (meaning: not written in prose, not one person's reflections about their DH experience, not behind a paywall). The scope is specifically geared toward setting expectations and the issues to consider including in a charter / contract.&#60;/p&#62;
&#60;p&#62;It currently exists as an editable document on Google Drive -- and I'd love feedback!! What's missing, what's too broad/specific? Other great links to share? I'd especially like thoughts on integrating language re: open source, creative commons, code.&#60;/p&#62;
&#60;p&#62;Here's the link:&#60;br /&#62;
&#60;a href=&#34;http://www.nyu.edu/gsas/dept/fineart/research/digital-humanities-best-practices.htm&#34; rel=&#34;nofollow&#34;&#62;http://www.nyu.edu/gsas/dept/fineart/research/digital-humanities-best-practices.htm&#60;/a&#62;&#60;/p&#62;
&#60;p&#62;Thanks!
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>martinwunderlich on "Old English resources and tools"</title>
						<link>http://digitalhumanities.org/answers/topic/old-english-resources-and-tools#post-2261</link>
			<pubDate>Thu, 25 Dec 2014 09:10:24 +0000</pubDate>
			<dc:creator>martinwunderlich</dc:creator>
			<guid isPermaLink="false">2261@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Hi all, &#60;/p&#62;
&#60;p&#62;I am currently working on an NLP project using Old English (OE) as the target language. I was wondering, what digital resources and tools are currently available. &#60;/p&#62;
&#60;p&#62;In terms of corpora and lexicographic resources, I am working with the&#60;br /&#62;
- Old English Dictionary (OED) and the associated corpus and&#60;br /&#62;
- York-Toronto-Helsinki Parsed Corpus of Old English Prose (YCOE)&#60;/p&#62;
&#60;p&#62;In terms of tools, I haven't found much specifically geared towards OE other than the corpus reader that comes with NLTK.&#60;br /&#62;
Is there anything out there in terms of tools, e.g. POS taggers?&#60;br /&#62;
I am grateful for any hints. Thanks a lot. &#60;/p&#62;
&#60;p&#62;Kind regards, &#60;/p&#62;
&#60;p&#62;Martin
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>thomasgpadilla on "Where do you go for data?"</title>
						<link>http://digitalhumanities.org/answers/topic/where-do-you-go-for-data#post-2257</link>
			<pubDate>Thu, 13 Nov 2014 10:33:38 +0000</pubDate>
			<dc:creator>thomasgpadilla</dc:creator>
			<guid isPermaLink="false">2257@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Where do you go for data to support your DH work aside from LAMs (library, archive, museum) specific repositories?
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>jlassin on "Rhyme Detection"</title>
						<link>http://digitalhumanities.org/answers/topic/rhyme-detection#post-2246</link>
			<pubDate>Sun, 12 Oct 2014 23:57:12 +0000</pubDate>
			<dc:creator>jlassin</dc:creator>
			<guid isPermaLink="false">2246@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Has anyone come across any tools for analyzing poems and identifying rhyme? Thanks!
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>Jonathan.Armoza on "Is anyone aware of a benchmark-type comparison between available topic modelers?"</title>
						<link>http://digitalhumanities.org/answers/topic/is-anyone-aware-of-a-benchmark-type-comparison-between-available-topic-modelers#post-2233</link>
			<pubDate>Sat, 06 Sep 2014 21:26:02 +0000</pubDate>
			<dc:creator>Jonathan.Armoza</dc:creator>
			<guid isPermaLink="false">2233@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Though MALLET is the standard, I'm wondering if anyone has done testing on time to completion, based on document size, corpus size, varying hyper-parameters, topic count, etc.&#60;/p&#62;
&#60;p&#62;I'd expect that different implementations would yield different qualities of output, something else worthy of comparison.&#60;/p&#62;
&#60;p&#62;I'm also interested in runtime/output quality comparisons between basic LDA implementations and more complex topic modeling (e.g. Hierarchical LDA).&#60;/p&#62;
&#60;p&#62;Thus far I've been comparing the basic C LDA from Blei's page against MALLET.  With little surprise MALLET bests LDA C handily.
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>m.brown4 on "Anyone know any Interdisciplinary STEM/Humanities academic competitions in HE?"</title>
						<link>http://digitalhumanities.org/answers/topic/anyone-know-any-interdisciplinary-stemhumanities-academic-competitions-in-he#post-2106</link>
			<pubDate>Fri, 11 Oct 2013 07:45:40 +0000</pubDate>
			<dc:creator>m.brown4</dc:creator>
			<guid isPermaLink="false">2106@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;I am a mature, Natural Sciences undergraduate student, studying at the University of East Anglia, Norwich, England.&#60;/p&#62;
&#60;p&#62;I am writing an article entitled:&#60;br /&#62;
Academic Competitions in Higher Education – Opening a gateway for student initiative, creativity and interdisciplinarity.&#60;/p&#62;
&#60;p&#62;More specifically:&#60;br /&#62;
How academic competitions in HE (International, National or Localised) can allow UNDERGRADUATE students to:&#60;br /&#62;
 - Operate academic skills in a more creative and initiative-based way.&#60;br /&#62;
 - Facilitate the real application of learned material.&#60;br /&#62;
 - Facilitate the application of knowledge to real-world challenges outside of academia. (e.g Engineering competitions, such as the ones listed below).&#60;br /&#62;
 - Facilitate cooperation between academic disciplines.&#60;/p&#62;
&#60;p&#62;For the article I am trying to find as many varied examples as I can, ranging from purely STEM based competitions,( &#60;a href=&#34;http://innovation.wisc.edu/sustainability/&#34; rel=&#34;nofollow&#34;&#62;http://innovation.wisc.edu/sustainability/&#60;/a&#62; )&#60;br /&#62;
Interdisciplinary examples ( &#60;a href=&#34;http://igem.org/About&#34; rel=&#34;nofollow&#34;&#62;http://igem.org/About&#60;/a&#62; ) and Humanities examples ( &#60;a href=&#34;http://openhumanitiesawards.org/&#34; rel=&#34;nofollow&#34;&#62;http://openhumanitiesawards.org/&#60;/a&#62; ).&#60;/p&#62;
&#60;p&#62;I am also interested in any other forms of extra curricular activities which facilitate undergraduate student initiative, creativity and interdisciplinarity. &#60;/p&#62;
&#60;p&#62;Any help, or a point in the direction of someone who might be able to, would be much appreciated. &#60;/p&#62;
&#60;p&#62;All the best&#60;br /&#62;
Michael Brown&#60;br /&#62;
University of East Anglia&#60;br /&#62;
Student Initiative Society UEA &#60;a href=&#34;http://mbrown6.wix.com/sisuea&#34; rel=&#34;nofollow&#34;&#62;http://mbrown6.wix.com/sisuea&#60;/a&#62;
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>thatdrmaz on "Digital textual design: On the hunt for projects/tools/toolsets/good designs"</title>
						<link>http://digitalhumanities.org/answers/topic/digital-textual-design-on-the-hunt-for-projectstoolstoolsetsgood-designs#post-2052</link>
			<pubDate>Thu, 01 Aug 2013 07:38:18 +0000</pubDate>
			<dc:creator>thatdrmaz</dc:creator>
			<guid isPermaLink="false">2052@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;Hello all,&#60;/p&#62;
&#60;p&#62;I'm on the hunt for projects/tools/toolsets/good designs that are involved with the digital replication of texts, creating a range of ways to search, interact with, browse and investigate any text. &#60;/p&#62;
&#60;p&#62;I am based at the university of durham, and what we hope this will enable us to identify are new forms of digital curating and scholarly ‘good practice’.  Our aim is to be able to outline the important underlying principles for anyone interested in discovering and editing versions of physical texts as a digital entity.&#60;/p&#62;
&#60;p&#62;Does anyone know of any technologies that we should incorporate into our research?... Or other similar projects / interesting people we should contact?... As part of a larger research we'd like to interview anyone involved with this kind of work - as a Curator, designer etc. &#60;/p&#62;
&#60;p&#62;Thanks terribly in advance.&#60;br /&#62;
Mariann
&#60;/p&#62;</description>
		</item>
		<item>
			 
				<title>Michael Ullyot on "What are essential introductory theorizations of the Model?"</title>
						<link>http://digitalhumanities.org/answers/topic/what-are-essential-introductory-theorizations-of-the-model#post-2036</link>
			<pubDate>Thu, 20 Jun 2013 11:06:52 +0000</pubDate>
			<dc:creator>Michael Ullyot</dc:creator>
			<guid isPermaLink="false">2036@http://digitalhumanities.org/answers/</guid>
			<description>&#60;p&#62;I'd like to ask both a research and a teaching question, about the most productive *and* accessible theorizations of the Model in artistic, scientific, and in-between disciplines like ours.&#60;/p&#62;
&#60;p&#62;I'm teaching a course (this fall) in my university's interdisciplinary arts-and-science undergraduate program on the very broad theme of 'representation.' I'm comparing the relationships between scientific theories, artistic representations, and quantitative/tractable models of research objects (in any field) that make them computationally addressable. &#60;/p&#62;
&#60;p&#62;The question is this: which essays or articles would best introduce these advanced undergraduates to the third category? &#60;/p&#62;
&#60;p&#62;Willard McCarty's essay, &#34;Modeling: a study in words and meanings&#34; from *A companion to digital humanities* (2004), is cited in Matt Burton's &#34;Joy of Topic Modeling&#34; blog post last month &#38;lt; &#60;a href=&#34;http://mcburton.net/blog/joy-of-tm/&#34; rel=&#34;nofollow&#34;&#62;http://mcburton.net/blog/joy-of-tm/&#60;/a&#62; &#38;gt;. This seems the natural place to start, but I wonder if readers have used other texts to induce intelligent non-specialists to join, or at least to grasp, our field.&#60;/p&#62;
&#60;p&#62;These are my other texts:&#60;br /&#62;
* David Bohm, *On Creativity*&#60;br /&#62;
* Virginia Woolf, *The Waves* (and Stephen Ramsay's work on the same)&#60;br /&#62;
* Richard Dawkins, *The Oxford Book of Modern Science Writing*&#60;/p&#62;
&#60;p&#62;With thanks,&#60;br /&#62;
Michael Ullyot
&#60;/p&#62;</description>
		</item>

	</channel>
</rss>
